@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

:root {
    --primary-color: #334456;
    --primary-color-dark: #141420;
    --secondary-color: #ff97ba;
    --white: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--primary-color);
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

.header_container {
    position: relative;
    max-width: 1200px;
    margin: auto;
    padding: 1rem;
}

nav {
    padding: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav_logo a {
    font-size: 1.75rem;
    font-weight: 700;
    color: var(--secondary-color);
}

.nav_links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.link a {
    position: relative;
    padding-bottom: 5px;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--primary-color-dark);
    transition: 0.3s;
}

.link a::after {
    position: absolute;
    content: "";
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: var(--secondary-color);
    transition: 0.3s;
}

.link a:hover::after {
    width: 100%;
}

.header_content {
    margin-top: 4rem;
}

.header_content h1 {
    font-size: 5rem;
    font-weight: 700;
    line-height: 5rem;
    color: var(--white);
}

.header_content h2 {
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--secondary-color);
    margin-bottom: 2rem;
}

.header_details {
    max-width: 350px;
    padding: 2rem;
    background-color: var(--white);
    border-radius: 5px;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
}

.header_details p {
    margin-bottom: 1.5rem;
    color: var(--primary-color);
    font-weight: 500;
    line-height: 1.5rem;
}

.btn {
    padding: 0.75rem 1.5rem;
    outline: none;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    color: var(--white);
    background-color: var(--secondary-color);
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background-color: #ff7da7;
}

.header_image {
    position: absolute;
    top: 50%;
    right: 5rem;
    transform: translateY(-50%);
    width: 450px;
    z-index: 1;
}

.header_image img {
    width: 100%;
}